In [2]:
import requests
import pandas as pd

In [5]:
# Requesting confirmed planets url for facility list
confirmed_url = 'https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=exoplanets'
facility = pd.read_csv(confirmed_url)
facility_df = facility[['pl_name','pl_facility']]

In [6]:
facility_df.to_excel("facility_data.xlsx")

In [8]:
df = pd.read_excel("facility_data_locations.xlsx")
df

                              pl_facility        Lat                 Long
0                                  HATNet  36.601309     36.1642283233397
1                                  Kepler  28.282865    76.95092702866663
2              Haute-Provence Observatory  43.934786    5.710468196428772
3                  W. M. Keck Observatory  19.826183  -155.47466064445106
4       Okayama Astrophysical Observatory  34.576269    33.59411746924752
..                                    ...        ...                  ...
56  Atacama Large Millimeter Array (ALMA) -23.023168   -67.75377985774968
57                      Winer Observatory  31.665895  4, -110.60172521546
58                  Haleakala Observatory  20.708474  -156.25668982909863
59                                 KOINet -34.580319   19.351709982972494
60           Acton Sky Portal Observatory        NaN                  NaN

[61 rows x 3 columns]

In [ ]:
merged_facility = pd.merge(left=survey_sub, right=species_sub, how='left', left_on='species_id', right_on='species_id')