In [19]:
import requests
import pandas as pd
import pyplot as py

In [20]:
# Taking a look at the data base
composite_url = 'https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=compositepars'
api_key = "&apikey="

In [21]:
# Printing url
print(composite_url + api_key)

https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=compositepars&apikey=

In [23]:
# Pulling necessary columns from NASA CSV and cleaning data with null values
nasa_original_df = pd.read_csv(composite_url)
nasa_filter_df = nasa_original_df[["fpl_hostname","fpl_letter","fpl_name","fpl_orbper","fpl_bmasse","fpl_rade","fpl_dens","fpl_eqt","fpl_insol","fst_optmag","fst_teff","fst_mass","fst_rad","fst_age"]]
nasa_clean_df = nasa_filter_df.dropna(how='any')
nasa_original_df.head()

,fpl_hostname,fpl_letter,fpl_name,fpl_discmethod,fpl_disc,fpl_controvflag,fpl_orbper,fpl_orbpererr1,fpl_orbpererr2,fpl_orbperlim,...,fst_meterr1,fst_meterr2,fst_metlim,fst_metratio,fst_metreflink,fst_age,fst_ageerr1,fst_ageerr2,fst_agelim,fst_agereflink
0,GJ 163,b,GJ 163 b,Radial Velocity,2013,0,8.63182,0.00155,-0.00155,0.0,...,0.1,-0.1,0.0,[Fe/H],<a refstr=TUOMI_ET_AL__2013 href=https://ui.ad...,6.0,4.0,-4.0,0.0,<a refstr=TUOMI_ET_AL__2013 href=https://ui.ad...
1,GJ 163,c,GJ 163 c,Radial Velocity,2013,0,25.63058,0.02550,-0.02550,0.0,...,0.1,-0.1,0.0,[Fe/H],<a refstr=TUOMI_ET_AL__2013 href=https://ui.ad...,6.0,4.0,-4.0,0.0,<a refstr=TUOMI_ET_AL__2013 href=https://ui.ad...
2,GJ 163,d,GJ 163 d,Radial Velocity,2013,0,603.95116,7.55862,-7.55862,0.0,...,0.1,-0.1,0.0,[Fe/H],<a refstr=TUOMI_ET_AL__2013 href=https://ui.ad...,6.0,4.0,-4.0,0.0,<a refstr=TUOMI_ET_AL__2013 href=https://ui.ad...
3,GJ 179,b,GJ 179 b,Radial Velocity,2009,0,2288.00000,59.00000,-59.00000,0.0,...,0.1,-0.1,0.0,[Fe/H],<a refstr=HOWARD_ET_AL__2010 href=https://ui.a...,NaN,NaN,NaN,NaN,NaN
4,GJ 317,b,GJ 317 b,Radial Velocity,2007,0,695.66000,0.35500,-0.35500,0.0,...,0.2,-0.2,0.0,[Fe/H],<a refstr=ANGLADA_ESCUDE_ET_AL__2012 href=http...,5.0,NaN,NaN,0.0,<a refstr=ANGLADA_ESCUDE_ET_AL__2012 href=http...

In [33]:
# Creating Data Set for Year and Planet Name
nasa_year_df = nasa_original_df[["fpl_name","fpl_disc", "fpl_discmethod", "fst_dist"]]
nasa_year_df

         fpl_name  fpl_disc   fpl_discmethod  fst_dist
0        GJ 163 b      2013  Radial Velocity     15.14
1        GJ 163 c      2013  Radial Velocity     15.14
2        GJ 163 d      2013  Radial Velocity     15.14
3        GJ 179 b      2009  Radial Velocity     12.36
4        GJ 317 b      2007  Radial Velocity     15.10
...           ...       ...              ...       ...
4326   LHS 3844 b      2019          Transit     14.90
4327     Gl 686 b      2018  Radial Velocity      8.16
4328  HD 221416 b      2019          Transit     95.08
4329   TOI-150.01      2019          Transit    336.00
4330   HD 81817 b      2020  Radial Velocity    268.97

[4331 rows x 4 columns]

In [49]:
planet_counts = nasa_year_df.groupby(["fpl_disc"]).count()
planet_counts.head()

          fpl_name  fpl_discmethod  fst_dist
fpl_disc
1989             1               1         1
1992             2               2         2
1994             1               1         1
1995             1               1         1
1996             6               6         6

In [55]:
method = nasa_year_df.groupby(["fpl_disc", "fpl_discmethod"]).count()
method.head(30)

                                      fpl_name  fst_dist
fpl_disc fpl_discmethod
1989     Radial Velocity                     1         1
1992     Pulsar Timing                       2         2
1994     Pulsar Timing                       1         1
1995     Radial Velocity                     1         1
1996     Radial Velocity                     6         6
1997     Radial Velocity                     1         1
1998     Radial Velocity                     6         6
1999     Radial Velocity                    13        13
2000     Radial Velocity                    16        16
2001     Radial Velocity                    12        12
2002     Radial Velocity                    28        28
         Transit                             1         1
2003     Pulsar Timing                       1         0
         Radial Velocity                    21        21
2004     Imaging                             3         3
         Microlensing                        1         1
         Radial Velocity                    18        18
         Transit                             5         5
2005     Imaging                             1         1
         Microlensing                        2         2
         Radial Velocity                    33        33
2006     Imaging                             4         4
         Microlensing                        1         1
         Radial Velocity                    21        21
         Transit                             5         5
2007     Imaging                             1         1
         Pulsation Timing Variations         1         1
         Radial Velocity                    34        34
         Transit                            16        16
2008     Imaging                             7         7