In [2]:
import requests
import json
import pandas as pd
from config import api_key
from pprint import pprint

In [3]:
# Taking a look at the data base
url = 'https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=exoplanets'
api_key = "&apikey="

In [20]:
print(url + api_key)
response = requests.get(url + api_key)

https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=exoplanets&apikey=

In [39]:
data = pd.read_csv(url)
data1 = data['pl_name']
data.loc[data['pl_name'] == 'Kepler-1649 c']

,pl_hostname,pl_letter,pl_name,pl_discmethod,pl_controvflag,pl_pnum,pl_orbper,pl_orbpererr1,pl_orbpererr2,pl_orbperlim,...,st_masslim,st_massn,st_rad,st_raderr1,st_raderr2,st_radlim,st_radn,pl_nnotes,rowupdate,pl_facility
3839,Kepler-1649,c,Kepler-1649 c,Transit,0,2,19.53527,0.0001,-0.0001,0.0,...,0.0,2,0.23,0.0,-0.0,0.0,2,0,2020-04-23,Kepler